{% include 'usersnew/navbaruser.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

    <link rel="stylesheet" href="{% static 'usersnew/styles.css'%}">

	<title>About</title>

</head>
<body>

	<h1 class="h1center"> About The Product </h1>

	<p> ACE aims to combat the lack of efficiency in commercial parking garages. This system scans the license plate and make of the car to determine if it is allowed into the garage. Because each license plate is associated with a specific user, administrators will know which registered vehicles are parked in the garage at any time. Through an android mobile app, ACE provides accessibility for both users and admins. Users must register their vehicle before entering a parking garage, and the admin has to approve the request in order for the vehicle to be granted access in the future. When the user approaches the garage, they are permitted entry if there is a match for that vehicle in the database. If an unregistered vehicle enters the garage, an alarm will sound. </p>


</body>
</html>

