{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
   	<link rel="stylesheet" href="{% static 'usersnew/styles.css'%}">

	<title>Admin Sign In</title>

</head>
<body>
	<h1 class="h1center" style="color:red"> Please sign in with your Admin Credentials to continue: </h1>
    {% if error %}
		<h3 class="center3 h3"> {{error}} </h3>
	{% endif %}

    <div class="center">
	    <form action = "{% url 'users-postsignin' %}" method="post">
	    {% csrf_token %}
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name = "password">
		  </div>
		
		  <button type="submit" class="btn btn-outline-primary btn-lg reglength" >Submit</button>
		  <br>
		  <br>
		</form>
	</div>

</body>
</html>


