{% include 'usersnew/navbaruser.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'usersnew/styles.css'%}">


	<title>Home</title>

	<style type="text/css">
        body{
            font-family: Comfortaa;
        }
    </style>

</head>
<body>

	<h1 class="homecenter"> Welcome to the Automatic Car Entry Module System! <h1>

    <div class="center">
	    <img src="{% static 'usersnew/logo.png' %}" height="500" width="500">

	<form action = "{% url 'users-signup' %}">
		<button type="submit" class="btn btn-outline-success btn-lg signupform" > Sign Up Now</button>
	</form>

	</div>

</body>
</html>

